.magic {
    color: #ff5676;
    font-size: 20px;
    font-weight: bold; /* жирный текст */
}

#magic {
    color: #27d3ff;
    font-size: 25px;
    background-image: url("https://mobimg.b-cdn.net/v3/fetch/d4/d446d22e6f1bfb4b17007a4be4809d6f.jpeg");
    background-size: cover; /* растягиваем картинку по экрану */
}

p {
    color: #ff0931;
    font-weight: bold;
    font-size: large;
}

#mag {
    background: darkgrey;
}

.deffence {
    background: url("https://wallpapercrafter.com/sizes/2048x1152/133657-simple-background-minimalism-Moon-rocket.jpg");
    background-size: cover;
    color: white;
    font-size: xxx-large;
}

.der {
    font-size: xx-large;
    color: #ff0931;
    background: black;
}

.form-control {

}